.modal_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0000003d;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_content {
    width: 450px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px 30px;
    transform: scale(0);
    transition: all ease .3s;
    position: relative;

    h2 {
      text-align: center;
      color: #555555;
    }

    .modal_content_subtitle {
      font-size: 13px;
      color: #929699;
      text-align: left;
    }

    .modal_button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px;
    }

    .MuiRadio-colorSecondary.Mui-checked {
      color: #8DBFBE;
    }
  }

  .open {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .modal_container {
    .modal_content {
      width: 95vw;
    }
  }
}