.admin_header {
  width: 100%;
  height: 50px;
  background-color: #8DBFBE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1002;

  .admin_header_navbar {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      margin: 0 10px;
      color: #fff;
      padding: 6px 0;
      position: relative;
      opacity: .8;
      transition: all ease .3s;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      margin-left: 20px;
      cursor: pointer;
    }

    .admin_header_navbar_item_active {
      opacity: 1;
    }
  }
}