.news_single_goal {
  width: 45%;
  height: 600px;
  margin-bottom: 50px;
  background: #F3F2F7;
  border-radius: 4px;
  box-shadow: 0 0 4px #9d9d9d;
  overflow: hidden;
  transition: all ease .3s;
  cursor: pointer;
  opacity: .8;

  &:hover {
    box-shadow: 0 0 10px #9d9d9d;
    opacity: 1;
  }

  .news_single_goal_image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .news_single_goal_content {
    box-sizing: border-box;
    padding: 30px;

    .news_single_goal_texts {
      width: 100%;
      text-align: left;

      h2 {
        margin: 0;
      }

      p {
        width: 100%;
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        color: #555555;
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 30px;
      }
    }

    .news_single_goal_statistics_container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .news_single_goal_statistics_info {
        width: 100%;
        padding-right: 50px;
        color: #555;

        .goal_col_and_amount {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 3px;
          font-size: 14px;
        }
        .goal_statistics_scale {
          width: 100%;
          height: 10px;
          background: #C4C4C4;
          border-radius: 4px;
          margin: 3px 0;
          overflow: hidden;

          div {
            height: 100%;
            border-radius: 4px;
            background-color: #a1d0cf;
          }
        }
        .goal_supporters {
          font-size: 12px;
          text-align: left;
          padding: 0 3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .news_single_goal {
    width: 100%;
    .news_single_goal_content {
      .news_single_goal_statistics_container {
        flex-direction: column;
        .news_single_goal_statistics_info {
          padding: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
}