$base-color: #8DBFBE;
$base-shadow: 0 0 9px #b7b4b4;
$base-text-color: #929699;

.auth_register_card {
  width: 700px;
  height: 600px;
  display: flex;
  border-radius: 4px;
  box-shadow: $base-shadow;
  overflow: hidden;

  a {
    font-size: 12px;
    color: $base-color;
    text-decoration: none;
  }

  form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 30px;
    position: relative;

    h1 {
      text-align: left;
      color: $base-text-color;
    }
  }

  .auth_register_card_img {
    width: 50%;
    height: 100%;
    background-image: url("images/register_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .auth_register_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    button {
      border: none;
      border-radius: 30px;
      background-color: #a1d0cf;
      color: #fff;
      padding: 8px 40px;
      cursor: pointer;
      transition: all ease .3s;

      &:hover {
        background-color: $base-color;
      }
    }
  }

  .auth_register_bottom_cont {
    font-size: 12px;
    color: $base-text-color;
    text-align: center;

    a {
      margin-left: 5px;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 768px) {
  .auth_register_card {
    width: 95vw;

    form {
      width: 100%;
    }

    .auth_register_card_img {
      display: none;
    }
  }
}