$base-color: #8DBFBE;
$base-text-color: #929699;
$base-transition: all ease .3s;


.custom_label {
  position: absolute;
  top: -12px;
  left: 40px;
  font-size: 11px;
  color: #CFCECE;
}

.custom_input {
  width: 100%;
  margin-top: 25px;
  border-bottom: 1px solid $base-text-color;
  display: flex;
  transition: $base-transition;
  position: relative;

  .custom_input_prefix, .custom_input_suffix {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    width: 40px;

    svg {
      color: $base-text-color;
      transition: $base-transition;
    }
  }
  .custom_input_suffix {

    svg {
      cursor: pointer;

      &:hover {
        color: #555555;
      }
    }
  }

  input {
    border: none;
    padding-bottom: 3px;
    width: calc(100% - 40px);
    font-size: 14px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active
    {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }

  &:focus-within {
    border-bottom: 1px solid #555555;

    .custom_input_prefix, .custom_input_suffix {
      svg {
        color: #555555;
      }
    }
  }

  input[type="date"] {
    background-color: #fff;
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      background: transparent;
      color: transparent;
      position: absolute;
      width: 24px;
      height: 24px;
      left: -20px;
      cursor: pointer;
      outline: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.custom_radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  color: $base-text-color;
  margin-top: 25px;
  padding-left: 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid $base-text-color;

  .custom_radio_label {
    display: flex;
    align-items: center;
    margin-right: 15px;

    svg {
      margin-right: 10px;
    }
  }

  .custom_radio_items {
    display: flex;

    .md-radio {

      &.md-radio-inline {
        display: inline-block;
      }

      input[type="radio"] {
        display: none;

        &:checked + label:before {
          border-color: $base-color;
          animation: ripple 0.2s linear forwards;
        }

        &:checked + label:after {
          transform: scale(1);
        }
      }

      label {
        display: inline-block;
        min-height: 12px;
        position: relative;
        padding: 0 (12px + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;

        &:before, &:after {
          position: absolute;
          content: '';
          border-radius: 50%;
          transition: all .3s ease;
          transition-property: transform, border-color;
        }

        &:before {
          left: 0;
          top: 0;
          width: 12px;
          height: 12px;
          border: 2px solid $base-text-color;
        }

        &:after {
          top: 4px;
          left: 4px;
          width: 8px;
          height: 8px;
          transform: scale(0);
          background: $base-color;
        }
      }
    }
  }
}

.custom_select {
  width: 100%;
  margin-top: 25px;
  border-bottom: 1px solid $base-text-color;
  display: flex;
  transition: $base-transition;
  position: relative;

  .custom_select_prefix {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    width: 40px;

    svg {
      color: $base-text-color;
      transition: $base-transition;
    }
  }

  .custom_select_comp {
    width: calc(100% - 40px);
    text-align: left;
    font-size: 14px;

    .MuiSelect-select:focus {
      background-color: transparent;
    }

    &:before, &:after {
      border-bottom: 0!important;
    }
  }

  &:focus-within {
    border-bottom: 1px solid #555555;

    svg {
      color: #555555;
    }
  }
}

.custom_button {
  border: none;
  border-radius: 30px;
  background-color: #a1d0cf;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  transition: all ease .3s;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 20px;
    margin-right: 5px;
  }

  &:hover {
    background-color: #8eb7b7;
  }

  &.light {
    border: 1px solid #a1d0cf;
    background-color: transparent;
    color: #a1d0cf;

    &:hover {
      background-color: #a1d0cf;
      color: #fff;
    }
  }
}