$base-color: #8DBFBE;
$base-shadow: 0 0 9px #b7b4b4;
$base-text-color: #929699;
$base-transition: all ease .3s;

$base-error-color: #ff3a3a;
$base-error-text-color: #ff3a3a;

.user_container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  .user_header {
    width: 100%;
    height: 50px;
    background-color: $base-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    .user_header_burger_menu {
      display: none;
      cursor: pointer;

      div {
        height: 32px;

        svg {
          font-size: 32px;
        }
      }
    }

    .user_header_navbar {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        margin: 0 10px;
        color: #fff;
        padding: 6px 0;
        position: relative;
        opacity: .8;
        transition: all ease .3s;

        &:hover {
          opacity: 1;
        }

        svg {
          margin-left: 3px;
          font-size: 22px;
        }
        .new_notif_indicator {
          position: absolute;
          top: 0;
          right: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
        }
      }

      .user_header_navbar_popover {
        cursor: pointer;
        height: 24px;
      }

      .user_header_navbar_item_active {
        opacity: 1;
      }
    }
  }
}

.header_popover {
  top: 45px!important;
  margin-left: -25px;

  li:last-child {
    color: red;
  }
}

.header_burger {
  top: 40px!important;
  margin-left: -10px;

  li:last-child {
    color: red;
  }
}

@media only screen and (max-width: 600px) {
  .user_container .user_header {

    .user_header_burger_menu {
      display: block;
    }

    .user_header_navbar {
      display: none;
    }
  }
}