.goal_expanded {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 10%;

  .goal_expanded_image {
    width: 100%;
    height: 500px;
    border-radius: 4px 4px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .goal_expanded_content {
    box-sizing: border-box;
    padding: 30px 0;

    .goal_expanded_texts {
      width: 100%;
      text-align: left;
      margin-bottom: 30px;

      h2 {
        margin: 0;
      }

      p {
        width: 100%;
        color: #555555;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
      }
    }

    .goal_expanded_statistics_container {
      width: 100%;
      color: #555;
      margin: 30px 0;

      .goal_expanded_col_and_amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3px;
        font-size: 14px;
      }

      .goal_expanded_statistics_scale {
        width: 100%;
        height: 10px;
        background: #C4C4C4;
        border-radius: 4px;
        margin: 3px 0;
        overflow: hidden;

        div {
          height: 100%;
          border-radius: 4px;
          background-color: #a1d0cf;
        }
      }

      .goal_expanded_supporters {
        font-size: 12px;
        text-align: left;
        padding: 0 3px;
      }
    }

    .goal_expanded_chart_container {
      width: 100%;
      height: 400px;
      margin-bottom: 60px;

      .chart_tooltip {
        background-color: #fff;
        padding: 10px 10px 5px;
        box-shadow: 0 0 3px #C4C4C4;
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        div {
          margin-bottom: 5px;
          font-size: 12px;
          color: #818181;
        }
      }
    }

    .goal_expanded_carousel_item {
      width: 100%;
      height: 400px;
      border-radius: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .goal_expanded_buttons {

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0;

        button {
          margin: 0 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .goal_expanded {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .goal_expanded {
    padding: 15px;
    .goal_expanded_content {
      .goal_expanded_buttons {
        > div:last-child {
          flex-wrap: wrap;

          button {
            width: auto!important;
            margin: 0 15px 30px;
          }
        }
      }
    }
  }
}