.loader_container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #5655557d;
    top: 0;
    left: 0;
    z-index: 1000;

    .loader_content {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        .loader_spinner {
            position: relative;

            &:before, &:after {
                content: "";
                position: relative;
                display: block;
            }

            &:before {
                animation: loader_spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
                width: 5em;
                height: 5em;
                background-color: #313131;
            }

            &:after {
                animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
                bottom: -.5em;
                height: .25em;
                border-radius: 50%;
                background-color: rgba(#000, 0.2);
            }
        }
    }
}

@keyframes loader_spinner {
    50% {
        border-radius: 50%;
        transform: scale(0.5) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(720deg);
    }
}
@keyframes shadow {
    50% {
        transform: scale(0.5);
        background-color: rgba(#000,0.1);
    }
}