.DayPickerInput input{
  padding: 5px 5px 7px;
  font-size: 14px;
  color: #000000DE;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.picker_overlay {
  position: absolute;
  right: 100px;
  z-index: 1000;
  box-shadow: 0 0 3px #999999;
  background-color: #fff;
}