body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto, sans-serif ;
  user-select: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
