.confirmation_container {
  width: 480px;
  padding: 10px 30px 30px;
  box-shadow: 0 0 9px #b7b4b4;
  border-radius: 4px;
  text-align: center;

  h2 {
    text-align: center;
    color: #929699;
  }

  p, div {
    color: #929699;
    line-height: 22px;
  }

  div {
    font-size: 14px;
    font-weight: 600;

    a {
      color: #8DBFBE;
    }
  }
}