$base-color: #8DBFBE;
$base-shadow: 0 0 9px #b7b4b4;
$base-text-color: #929699;
$base-transition: all ease .3s;

.auth_container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .auth_header {
    width: 100%;
    height: 50px;
    background-color: $base-color;
  }

  .auth_main_content {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0);
  }
  50% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }
}